<!-- Modal -->
<div class="modal fade" id="finditModal" tabindex="-1" aria-labelledby="finditModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-fullscreen-lg-down modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-2" id="finditModalLabel">findit</h1>
        <span data-bs-dismiss="modal" aria-label="Close"><i class="fa-solid fa-xmark hover-brighter-green"></i></span>
      </div>
      <div class="modal-body modal-findit findit-modal-body">
        <div class="findit-lede">
          <div>
            <p>An online classified web application. Made with inspiration from <%= link_to 'Finn.no', 'http://www.finn.no', target: "blank" %></p>
            <p>Visit site: <%= link_to 'findit', 'http://findit.herokuapp.com', target: "_blank"  %></p>
            <p><%= link_to 'View on GitHub', 'https://github.com/jorgenlt/findit', target: "_blank"  %></p>
          </div>
          <div class="findit-video">
          </div>
        </div>
        <div class="findit-media">
          <div class="findit-phone">
            <div class="findit-photos">
              <%#= image_tag '', alt: "findit on phone." %>
            </div>
          </div>
          <div>
          </div>
          <div class="findit-desktop">
            <%= image_tag 'findit_desktop1.png', alt: "findit on desktop." %>
          </div>
        </div>

        <div class="findit-documentation">
          <h2>Features</h2>
            <ul>
              <li><i class="fa-solid fa-circle-arrow-right"></i>Sign up and sign in.</li>
              <li><i class="fa-solid fa-circle-arrow-right"></i>Search for ads.</li>
              <li><i class="fa-solid fa-circle-arrow-right"></i>Browse ads by categories and subcategories.</li>
              <li><i class="fa-solid fa-circle-arrow-right"></i>View ads with pictures and information.</li>
              <li><i class="fa-solid fa-circle-arrow-right"></i>Contact seller.</li>
              <li><i class="fa-solid fa-circle-arrow-right"></i>Add a new ad.</li>
            </ul>

          <h2>Technologies</h2>
          <p>
            Findit is built with <%= link_to 'Ruby on Rails', 'https://rubyonrails.org/', target: '_blank' %> on both backend and frontend. Data is stored in a PostgreSQL database and all pictures are uploaded to <%= link_to "Cloudinary", 'https://cloudinary.com/', target: '_blank' %> and handled using <%= link_to "Active Storage integration", 'https://cloudinary.com/documentation/rails_activestorage' %>.
            The <%= link_to "PgSearch", 'https://github.com/Casecommons/pg_search', target: 'blank' %> gem are used for searching for posts.
            The application is additionally supported by Webpack, simple_form, stimulus and bootstrap.
          </p>

          <h2>Technical challenges</h2>
          <h3>The search feature</h3>
          <p>
            The search feature on the dashboard page is made simple using the <%= link_to "PgSearch", 'https://github.com/Casecommons/pg_search', target: 'blank' %> gem. The Post model includes the pg_search and specifies what to search against (title, body, category and subcategory).
          </p>
          <pre>
            <code class="language-ruby">
# app/models/post.rb

class Post < ApplicationRecord
  belongs_to :user
  belongs_to :category

  validates :post_title, :post_body, :price, presence: true

  include PgSearch::Model
  pg_search_scope :search_posts,
    against: [ :post_title, :post_body, :category_name, :sub_category_name ],
      using: { tsearch: { prefix: true } }

  has_one_attached :photo
end
            </code>
          </pre>
          <p class="mt-4 mb-2">
            The Pages controller action 'dashboard' handles the search if a query is present.
          </p>
          <pre>
            <code class="language-ruby">
# app/controllers/pages_controller.rb

class PagesController < ApplicationController
  skip_before_action :authenticate_user!, only: [ :dashboard ]

  def dashboard
    if params[:query].present?
      @search_results = Post.search_posts(params[:query])
    else
      @search_results = nil
    end
  end
end
            </code>
          </pre>
          <p class="mt-4 mb-2">
            If '@search_results' in the Pages controller is not nil the search results are displayed in the dashboard view.
          </p>
          <pre>
            <code class="language-html">
&lt;!-- app/views/pages/dashboard.html.erb -->

&lt;div class="search-results w-100">
  &lt;% unless @search_results == nil %>
    &lt;% if @search_results.empty? %>
      &lt;h3 class="no-results">No results for your search.&lt;/h3>
    &lt;% else %>
      &lt;h2>&lt;%= @search_results.size %> results found&lt;/h2>
      &lt;div class="row all-posts">
        &lt;% @search_results.each do |post| %>
            &lt;div class="col all-posts-card">
              &lt;%= link_to post_path(post), class: "all-posts-link" do %>
                &lt;%= attached_photo(post, 400) %>
                &lt;div class="post-details">
                  &lt;p class="all-posts-location">Oslo&lt;/p>
                  &lt;p class="all-posts-description">&lt;%= post.post_title.capitalize %>&lt;/p>
                  &lt;span>€ &lt;%= post.price %>&lt;/span>
                &lt;/div>
              &lt;% end %>
            &lt;/div>
        &lt;% end %>
      &lt;/div>
    &lt;% end %>
  &lt;% end %>
&lt;/div>
            </code>
          </pre>

          <h3 class="mt-5">Populating categories and subcategories</h3>
          <p>
            When making a new post available subcategories to choose from should change with the category chosen. This was solved using javascript. The categories are populated when the site is loaded and the subcategories are populated when choosing a category. A stimulus controller handles the javascript code.
          </p>
          <pre>
            <code class="language-javascript">
// app/javascript/controllers/new_post_controller.js

const data = [
  {
    category: 'Bicycles',
    subcategories: ["Electrical", "Hybrid", "Offroad", "Racer", "Other"]
  },
  {
    category: 'Electronics',
    subcategories: ["Computers", "Photo", "TV", "Household", "Smartphones"]
  },
  {
    category: 'Home',
    subcategories: ["Furniture", "Lamps", "Kitchen"]
  },
  {
    category: 'Pets',
    subcategories: ["Bird", "Cat", "Dog", "Fish", "Horse"]
  },
  {
    category: 'Sports',
    subcategories: ["Ballsport", "Golf", "Outdoors", "Winter", "Water"]
  },
  {
    category: 'Vehicles',
    subcategories: ["Car", "Motorcycle", "Truck"]
  },
  {
    category: 'Work',
    subcategories: ["Fulltime", "Parttime"]
  },
  {
    category: 'Boats',
    subcategories: ["Sailboat", "Speedboat", "Yacht"]
  }
];

// Connects to data-controller="new-post"
export default class extends Controller {

  static targets = ["category", "subcategory"]

  connect() {
    data.forEach(item => {
      const option = document.createElement('option');
      option.text = item.category;
      this.categoryTarget.add(option);
    });
  }

  changeSub(event) {
    const category = event.target.value;
    const selectedData = data.find(item => item.category === category);
    this.subcategoryTarget.innerHTML = '';
    selectedData.subcategories.forEach(subcategory => {
      const option = document.createElement('option');
      option.text = subcategory;
      this.subcategoryTarget.add(option);
    });
  }
}
            </code>
          </pre>
          <h2>Upcoming features</h2>
          <ul>
            <li><i class="fa-solid fa-circle-arrow-right"></i>Edit and delete your own posts.</li>
            <li><i class="fa-solid fa-circle-arrow-right"></i>Creating a user profile with a profile picture.</li>
            <li><i class="fa-solid fa-circle-arrow-right"></i>Interactive map function on the post page.</li>
            <li><i class="fa-solid fa-circle-arrow-right"></i>Live chat between users.</li>
          </ul>

        </div>
      </div>
    </div>
  </div>
</div>
