<!-- Modal -->
<div class="modal fade" id="messagemateModal" tabindex="-1" aria-labelledby="messagemateModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-fullscreen-lg-down modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-2" id="messagemateModalLabel">MessageMate</h1>
        <span data-bs-dismiss="modal" aria-label="Close"><i class="fa-solid fa-xmark hover-brighter-green"></i></span>
      </div>
      <div class="modal-body modal-template messagemate-modal-body">
        <div class="messagemate-description">
          <div class="messsagemate-text">
            <p>A responsive instant messenger application for desktop and mobile.</p>
            <p>
            Visit site:
            <%= link_to 'messagemate.me', 'http://www.messagemate.me', target: "_blank"  %>
            </p>
            <p>Download for android: <%= link_to 'messagemate.apk', '/messagemate.apk', target: "_blank"  %></p>
            <div class="messagemate-features">
              <p>Features:</p>
              <ul>
                <div>
                  <i class="fa-solid fa-circle-arrow-right"></i>
                  <li>Web application built with the <%= link_to 'Ruby on Rails', 'https://rubyonrails.org/', target: '_blank' %> framework.</li>
                </div>
                <div>
                  <i class="fa-solid fa-circle-arrow-right"></i>
                  <li>Instant chat messenger with live chat using Websocket with <%= link_to 'Action Cable', 'https://guides.rubyonrails.org/action_cable_overview.html', target: '_blank' %></li>
                </div>
                <div>
                  <i class="fa-solid fa-circle-arrow-right"></i>
                  <li>Real-time, two-way communication between the server and client.</li>
                </div>
                <div>
                  <i class="fa-solid fa-circle-arrow-right"></i>
                  <li>Create a new user.</li>
                </div>
                <div>
                  <i class="fa-solid fa-circle-arrow-right"></i>
                  <li>Add a user by username to start a new chat.</li>
                </div>
                <div>
                  <i class="fa-solid fa-circle-arrow-right"></i>
                  <li>Mobile responsiveness to ensure an optimal user experience.</li>
                </div>
                <div>
                  <i class="fa-solid fa-circle-arrow-right"></i>
                  <li>Ligthweight and simple messaging web application.</li>
                </div>
              </ul>
            </div>
          </div>
          <div class="messagemate-video">
            <iframe src="https://player.vimeo.com/video/793256271?h=70456f8a85&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
                    width="290"
                    height="644"
                    frameborder="0"
                    allow="autoplay; fullscreen; picture-in-picture"
                    allowfullscreen title="Screenrecorder-2023-01-27-14-23-07-727">
            </iframe>
          </div>
        </div>
        <div class="messagemate-media">
          <div class="messagemate-phone">
            <div class="messagemate-photos">
              <%= image_tag 'messagemate_phone1.png', alt: "messagemate on phone." %>
              <%= image_tag 'messagemate_phone2.png', alt: "messagemate on phone." %>
            </div>
          </div>
          <div>
          </div>
          <div class="messagemate-desktop">
            <%= image_tag 'messagemate_desktop1.png', alt: "messagemate on desktop." %>
          </div>
        </div>
        <div class="messagemate-documentation">
          <h2>Making the messages appear in real time for sender and receiver</h2>
          <p>The application is using Websocket with Action Cable for real-time, two-way communication between the server and client. This allows the exchange of messages in both directions without the need for a new request to be made for each message.</p>
          <p>Action Cable is a feature of Ruby on Rails that provides a framework for using WebSockets in a Rails application. It allows us to create "channels" in our application, which can receive and broadcast messages in real-time. This makes it possible to build real-time applications, such as chat apps, posts, comments, and other features that requires real-time updates and notifications.</p>
          <pre>
            <code class="language-html">
&lt;div class="messagemate-video">
  &lt;iframe src="https://player.vimeo.com/video/793256271?h=70456f8a85&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
          width="290"
          height="644"
          frameborder="0"
          allow="autoplay; fullscreen; picture-in-picture"
          allowfullscreen title="Screenrecorder-2023-01-27-14-23-07-727">
  &lt;/iframe>
&lt;/div>
            </code>
          </pre>
          <pre>
            <code class="language-ruby">
def create
  if User.find_by(username: chatroom_params[:username]).present?
    recipient = User.find_by(username: chatroom_params[:username])
    if Chatroom.where(user_id: current_user.id, recipient_id: recipient.id).exists? ||
      Chatroom.where(user_id: recipient.id, recipient_id: current_user.id).exists?
      redirect_to root_path
      flash.alert = "You already have a chat going with this user."
    else
      @chatroom = Chatroom.new(chatroom_params)
      @chatroom.user_id = current_user.id
      @chatroom.recipient_id = recipient.id
      if @chatroom.save
        redirect_to chatroom_path(@chatroom)
      else
        redirect_to root_path
        flash.alert = "Error! Chatroom was not created."
      end
    end
  else
    redirect_to root_path
    flash.alert = "User does not exist. Try again."
  end

  # authorize everyone to create a new chatroom with another user.
  @chatroom = policy_scope(Chatroom)
  authorize @chatroom
end
            </code>
          </pre>
        </div>
      </div>
      <%# <div class="modal-footer">
      </div> %>
    </div>
  </div>
</div>
