<!-- Modal -->
<div class="modal fade" id="tidderModal" tabindex="-1" aria-labelledby="tidderModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-fullscreen-lg-down modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-2" id="tidderModalLabel">tidder</h1>
        <span data-bs-dismiss="modal" aria-label="Close"><i class="fa-solid fa-xmark hover-brighter-green"></i></span>
      </div>
      <div class="modal-body modal-template tidder-modal-body">
        <div class="tidder-lede">
          <div>
            <p>A responsive reddit clone web application.</p>
            <p>Visit site: <%= link_to 'tidder.eu', 'https://www.tidder.eu', target: "_blank" %></p>
            <p><%= link_to 'View on GitHub', 'https://github.com/jorgenlt/messagemate', target: "_blank"  %></p>
          </div>
        </div>

        <div class="tidder-media">
          <div class="tidder-phone">
            <div class="tidder-video">
            <iframe src="https://player.vimeo.com/video/798677053?h=ea04464374&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
                    width="290"
                    height="644"
                    frameborder="0"
                    allow="autoplay; fullscreen; picture-in-picture"
                    allowfullscreen title="tidder_demo">
            </iframe>
            </div>
            <div class="tidder-photos">
              <%= image_tag 'tidder_phone_1.png', alt: "Tidder on phone." %>
            </div>
          </div>

          <div class="tidder-desktop">
            <%= image_tag 'tidder_desktop_1.png', alt: "Tidder on desktop." %>
          </div>
        </div>

        <div class="tidder-documentation">
          <h2>Features</h2>
            <ul>
              <li><i class="fa-solid fa-circle-arrow-right"></i>A user can sign up and sign in. Email and password can be edited by the user at a later time.</li>
              <li><i class="fa-solid fa-circle-arrow-right"></i>A user can create a new post.</li>
              <li><i class="fa-solid fa-circle-arrow-right"></i>A user can upvote or downvote a post.</li>
              <li><i class="fa-solid fa-circle-arrow-right"></i>A user can create a new comment on a post.</li>
              <li><i class="fa-solid fa-circle-arrow-right"></i>A user can upvote or downvote a comment on a post.</li>
              <li><i class="fa-solid fa-circle-arrow-right"></i>Secure authentication and authorization.</li>
              <li><i class="fa-solid fa-circle-arrow-right"></i>Mobile responsiveness to ensure optimal user experience.</li>
            </ul>

          <h2>Technologies</h2>
          <p>
            Tidder is built with <%= link_to 'Ruby on Rails', 'https://rubyonrails.org/', target: '_blank' %> on both backend and frontend.
            Data is stored in a PostgreSQL database and Cloudinary is used for cloud storage of the profile image files. Authentication and authorization
            is being handled with the <%= link_to 'Devise gem', 'https://github.com/heartcombo/devise', target: '_blank' %>. This ensures the user to
            securely sign in and sign up to the application, authorization is given to the user so that they can only view their own content.

            The application is additionally supported by Webpack, simple_form, stimulus and bootstrap.
          </p>

          <h2>Technical challenges</h2>
          <h3>Upvote and downvote</h3>
          <p></p>
          <pre>
            <code class="language-">

            </code>
          </pre>

          <h2>Upcoming features</h2>
          <ul>
            <li><i class="fa-solid fa-circle-arrow-right"></i>AJAX on upvote and downvote.</li>
            <li><i class="fa-solid fa-circle-arrow-right"></i>Create a profile and add a profile picture.</li>
            <li><i class="fa-solid fa-circle-arrow-right"></i>Search for a post.</li>
            <li><i class="fa-solid fa-circle-arrow-right"></i>Save a post.</li>
            <li><i class="fa-solid fa-circle-arrow-right"></i>Share a post.</li>
          </ul>

        </div>
      </div>
    </div>
  </div>
</div>
