<%= render 'shared/loading_animation' %>
<%= render 'shared/sticky_some_bar' %>

<div class="container">
  <%= render 'shared/navbar' %>
  <div data-controller="fullpage">
    <div id="fullpage">
      <div class="section" id="hero">
        <div id="hero-content">
          <div><h4>Hello, my name is</h4></div>
          <div><h1 id="full-name">Jørgen Larsen Tjønnteig</h1></div>
          <div><h1 id="full-name-subtitle">Full Stack Developer</h1></div>
          <div>
            <p>
              Full Stack Web Development, Javascript, SQL, Ruby, Ruby on Rails, HTML, CSS, UX/UI, Product Design, Bootstrap.
            </p>
          </div>
        </div>
        <div id="learn-more-container" data-action="click->fullpage#more" data-fullpage-target="learnmore">
          <div id=learn-more>
            <p>Learn more about what I do</p>
            <span><i class="fa-solid fa-chevron-down bounce2"></i></span>
          </div>
        </div>
      </div>

      <div class="section" id="about">
        <div id="about-content">
          <h1>About</h1>
          <p>I make responsive web apps.</p>
        </div>
      </div>

      <div class="section" id="portfolio">
        <div id="portfolio-content">
          <div id="portfolio-headers">
            <h1>Portfolio</h1>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </p>
          </div>
          <%= render 'shared/portfolio_cards' %>
        </div>
      </div>

      <div class="section" id="resume">
        <div id="resume-content">
          <h1>Resume</h1>
          <p>Download my resume <%= link_to 'here', '/jorgenlt_cv_v1.pdf', target: "_blank"  %> (pdf).</p>
        </div>
      </div>

      <div class="section" id="contact">
        <div id="contact-content">
          <h1>Contact</h1>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt
            cupiditate accusantium illo exercitationem praesentium illum, fugit
            aut quas dolorum at magni cum quaerat a, repellendus dolores doloremque
            amet beatae ipsam?
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<%# Modals%>
<%= render 'shared/homify' %>
<%= render 'shared/tidder' %>
<%= render 'shared/messagemate' %>
