<!DOCTYPE html>
<html>
  <head>
    <title>Jørgen Larsen Tjønnteig, Portfolio (jorgenlt)</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Portfolio page of Jørgen Larsen Tjønnteig, fullstack web developer. Skills: Full Stack Web Development, Javascript, SQL, Ruby, Ruby on Rails, HTML, CSS, UX/UI, Product Design, Bootstrap. Visit portfolio for projects and resume / CV.">
    <%= favicon_link_tag %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "https://cdn.jsdelivr.net/npm/pushbar.js@1.0.0/src/pushbar.min.css" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= javascript_include_tag "https://cdn.jsdelivr.net/npm/pushbar.js@1.0.0/src/pushbar.min.js" %>
  </head>

  <body>

  <%# <div class="container"> %>
    <%#= render "shared/navbar" %>
    <%= yield %>
  <%# </div> %>

  <%= render "shared/flashes" %>
  </body>
</html>
